In [1]:
import numpy as np
import pandas as pd
import ast
import matplotlib.pyplot as plt
import statsmodels.api as sm
import datetime
from collections import Counter
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from linearmodels import PanelOLS

In [2]:
scraping_date = '_26_04_2021'
data = pd.read_csv('./data/full_profiles'+scraping_date+'.csv')

In [3]:
data.head(3)

,name,languages,description,rating,nb_reviews,Price/hour in USD,skills,industry_expertise,nb_projects,nb_buyers,last_active,gender,city,country,score
0,Maria H.,['English'],We are a small UK based company speciaIising i...,4.9,4694,34.74,"['animation', 'graphics design', 'brand design...","['IT', 'Internet', 'Marketing', 'Media', 'Tech...",7672,4168,26-04-2021,female,Sheffield,United Kingdom,10.043
1,Cormac Reynolds,['English'],Looking for a link building solution or some g...,5.0,1190,138.95,"['online marketing', 'link building', 'marketi...",[],1085,533,25-04-2021,unknown,City of London,United Kingdom,8.691
2,Denise Toepel,"['English', 'Spanish', 'French']",I am a Translation Specialist. I work in publ...,0.0,0,27.79,"['english translation', 'french english', 'on...","['Education', 'Telecommunications']",0,0,25-04-2021,female,Cuenca,Ecuador,0.000

# Regression on scraped data

## Remove inactive profiles (no projects) and drop unnucessary features

In [4]:
print('Number of workers with inactive profiles:',  len(data.loc[(data['nb_projects'] == 0)]))

Number of workers with inactive profiles: 2930

In [5]:
data = data.drop(data.loc[data['nb_projects']==0].index)

Almost 30% of all the profiles are thus deleted of our regression analysis. This represents a big proportion of the profiles that we collected but there is still a significant amount of data that makes our study relevant.

In [6]:
# remove string attributes that we do not use in our regression for the moment
data = data.drop(['name', 'description', 'city'], axis=1)

## Spoken languages

In [7]:
available_languages = {}
languages = np.array(data.languages)
for profile_languages in languages:
    profile_languages = ast.literal_eval(profile_languages)
    if len(profile_languages)>0:
        for language in profile_languages:
            if language not in available_languages:
                available_languages[language] = 1
            else:
                available_languages[language] += 1

In [8]:
len(available_languages)

102

In [9]:
lang = np.array(list(available_languages.keys()))
count_lang = list(available_languages.values())
sorted_count_lang = np.argsort(count_lang)[-15:]
most_spoken_languages = lang[sorted_count_lang]

In [10]:
most_spoken_languages

array(['Swahili', 'Bengali', 'Greek', 'Dutch', 'Chinese', 'Portuguese',
       'Russian', 'Arabic', 'Urdu', 'Italian', 'Hindi', 'German',
       'Spanish', 'French', 'English'], dtype='<U13')

In [11]:
n = len(data)
english, french, spanish, arabic, german, italian, hindi, urdu, russian, portuguese, swahili, bengali, greek, dutch, chinese = np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n),

for i, lang in enumerate(languages):
    lang=ast.literal_eval(lang)
    if 'English' in lang:
        english[i]=1
    if 'French' in lang:
        french[i]=1
    if 'Spanish' in lang:
        spanish[i]=1
    if 'Arabic' in lang:
        arabic[i]=1
    if 'German' in lang:
        german[i]=1
    if 'Italian' in lang:
        italian[i]=1
    if 'Hindi' in lang:
        hindi[i]=1
    if 'Urdu' in lang:
        urdu[i]=1
    if 'Russian' in lang:
        russian[i]=1
    if 'Portuguese' in lang:
        portuguese[i]=1
    if 'Swahili' in lang:
        swahili[i]=1
    if 'Bengali' in lang:
        bengali[i]=1
    if 'Greek' in lang:
        greek[i]=1
    if 'Dutch' in lang:
        dutch[i]=1
    if 'Chinese' in lang:
        chinese[i]=1

In [12]:
del data['languages']

data['lang_english'] = english
data['lang_french'] = french
data['lang_spanish'] = spanish
data['lang_arabic'] = arabic
data['lang_german'] = german
data['lang_italian'] = italian
data['lang_hindi'] = hindi
data['lang_urdu'] = urdu
data['lang_russian'] = russian
data['lang_portuguese'] = portuguese
data['lang_swahili'] = swahili
data['lang_bengali'] = bengali
data['lang_greek'] = greek
data['lang_dutch'] = dutch
data['lang_chinese'] = chinese

## Industry expertises

In [13]:
available_expertise = {}
industry_expertise = np.array(data.industry_expertise)
for profile_expertise in industry_expertise:
    profile_expertise = ast.literal_eval(profile_expertise)
    if len(profile_expertise)>0:
        for expertise in profile_expertise:
            if expertise not in available_expertise:
                available_expertise[expertise] = 1
            else:
                available_expertise[expertise] += 1

In [14]:
len(available_expertise)

65

In [15]:
exper = np.array(list(available_expertise.keys()))
count_exper = list(available_expertise.values())
sorted_count_exper = np.argsort(count_exper)[-10:]
most_imp_exper = exper[sorted_count_exper]

In [16]:
most_imp_exper

array(['Publishing', 'Healthcare', 'Travel', 'Internet', 'Technology',
       'IT', 'Media', 'Advertising', 'Education', 'Marketing'],
      dtype='<U18')

In [17]:
n = len(data)
marketing, education, advertising, media, it, internet, technology, entertainment, travel, art = np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n)

for i, exper in enumerate(industry_expertise):
    exper=ast.literal_eval(exper)
    if 'Marketing' in exper:
        marketing[i]=1
    if 'Education' in exper:
        education[i]=1
    if 'Advertising' in exper:
        advertising[i]=1
    if 'Media' in exper:
        media[i]=1
    if 'IT' in exper:
        it[i]=1
    if 'Internet' in exper:
        internet[i]=1
    if 'Technology' in exper:
        technology[i]=1
    if 'Entertainment' in exper:
        entertainment[i]=1
    if 'Travel' in exper:
        travel[i]=1
    if 'Art' in exper:
        art[i]=1

In [18]:
del data['industry_expertise']

data['exper_education'] = education
data['exper_advertising'] = advertising
data['exper_marketing'] = marketing
data['exper_media'] = media
data['exper_it'] = it
data['exper_internet'] = internet
data['exper_technology'] = technology
data['exper_entertainment'] = entertainment
data['exper_travel'] = travel
data['exper_art'] = art

## Recently active workers

In [19]:
data.last_active = pd.to_datetime(data.last_active)
threshold = datetime.datetime.strptime('20-03-2021', '%d-%m-%Y') 
# Choose date to qualify if worker was recently active

data.last_active = threshold < data.last_active
data.last_active = data.last_active*1

## Countries of work
We select only the 10 most represented countries and we remove the profiles that are not working in those countries, otherwise they will be issues with the conversion of prices in USD.

In [20]:
location = data['country']

country = [ l.split(',')[-1].replace(" ", "") for l in location ]
count = Counter(country).most_common(10)
most_represented_countries = [x[0] for x in count]
print(count)

[('UnitedKingdom', 3178), ('India', 511), ('Pakistan', 397), ('Kenya', 185), ('France', 150), ('Germany', 136), ('Spain', 136), ('Bangladesh', 132), ('Italy', 126), ('Nigeria', 118)]

In [21]:
values = data['country']
counts = pd.value_counts(values)
mask = values.isin(counts.index)
coun = pd.get_dummies(values[mask])

data = data.drop('country', axis=1)
data['country_UK'] = coun[' United Kingdom']
data['country_India'] = coun[' India']
data['country_Pakistan'] = coun[' Pakistan']
data['country_Kenya'] = coun[' Kenya']
data['country_France'] = coun[' France']
data['country_Germany'] = coun[' Germany']
data['country_Spain'] = coun[' Spain']
data['country_Bangladesh'] = coun[' Bangladesh']
data['country_Italy'] = coun[' Italy']
data['country_Nigeria'] = coun[' Nigeria']

## Skills

In [22]:
available_skill = {}
skills = np.array(data.skills)
for profile_skill in skills:
    profile_skill = ast.literal_eval(profile_skill)
    if len(profile_skill)>0:
        for skill in profile_skill:
            if skill not in available_skill:
                available_skill[skill] = 1
            else:
                available_skill[skill] += 1

In [23]:
len(available_skill)

2148

In [24]:
sk = np.array(list(available_skill.keys()))
count_sk = list(available_skill.values())
sorted_count_sk = np.argsort(count_sk)[-10:]
most_imp_sk = sk[sorted_count_sk]

In [25]:
most_imp_sk

array(['web writing', 'social media marketing', 'article',
       'search engine optimization', 'editing', 'creative writing',
       'copywriting', 'proofreading', 'blog writing', 'content writing'],
      dtype='<U51')

In [26]:
n = len(data)
creative_writing, copywriting, proofreading, blog_writing, content_writing, web_writing, social_media_marketing, article, search_engine_optimization, editing = np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n)

for i, sk in enumerate(skills):
    sk=ast.literal_eval(sk)
    if 'creative writing' in sk:
        creative_writing[i]=1
    if 'copywriting' in sk:
        copywriting[i]=1
    if 'proofreading' in sk:
        proofreading[i]=1
    if 'blog writing' in sk:
        blog_writing[i]=1
    if 'content writing' in sk:
        content_writing[i]=1
    if 'web writing' in sk:
        web_writing[i]=1
    if 'social media marketing' in sk:
        social_media_marketing[i]=1
    if 'article' in sk:
        article[i]=1
    if 'search engine optimization' in sk:
        search_engine_optimization[i]=1
    if 'editing' in sk:
        editing[i]=1

In [27]:
del data['skills']

data['skill_creative_writing'] = creative_writing
data['skill_copywriting'] = copywriting
data['skill_proofreading'] = proofreading
data['skill_blog_writing'] = blog_writing
data['skill_content_writing'] = content_writing
data['skill_web_writing'] = web_writing
data['skill_social_media_marketing'] = social_media_marketing
data['skill_article'] = article
data['skill_search_engine_optimization'] = search_engine_optimization
data['skill_editing'] = editing

## Gender

male $\rightarrow 0$, female $\rightarrow 1$

In [28]:
data = data.replace({'gender':{'male':0, 'female':1, 'unknown':2}})
data = data[data.gender<2] # remove the unknown 'gender'

## Interaction term between score and gender

In [ ]:
score = data.score
gender = data.gender
interact_score_gender = score * gender
data['interaction'] = interact_score_gender

## Final data

In [29]:
data.head(5)

,rating,nb_reviews,Price/hour in USD,nb_projects,nb_buyers,last_active,score,lang_english,lang_french,lang_spanish,...,skill_blog_writing,skill_content_writing,skill_web_writing,skill_social_media_marketing,skill_article,skill_search_engine_optimization,skill_editing,gender_male,gender_female,gender_undefined
0,4.9,4694,34.74,7672,4168,1,10.043,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,1,0
1,5.0,1190,138.95,1085,533,1,8.691,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,1
3,4.9,598,20.00,721,376,1,7.983,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1
4,4.9,135,27.79,140,100,1,6.496,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0,1
5,4.9,554,22.23,404,293,1,7.907,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0

In [30]:
print(data.isna().sum())

rating                              0
nb_reviews                          0
Price/hour in USD                   0
nb_projects                         0
nb_buyers                           0
last_active                         0
score                               0
lang_english                        0
lang_french                         0
lang_spanish                        0
lang_arabic                         0
lang_german                         0
lang_italian                        0
lang_hindi                          0
lang_urdu                           0
lang_russian                        0
lang_portuguese                     0
lang_swahili                        0
lang_bengali                        0
lang_greek                          0
lang_dutch                          0
lang_chinese                        0
exper_education                     0
exper_advertising                   0
exper_marketing                     0
exper_media                         0
exper_it                            0
exper_internet                      0
exper_technology                    0
exper_entertainment                 0
exper_travel                        0
exper_art                           0
country_UnitedKingdom               0
country_India                       0
country_Pakistan                    0
country_Kenya                       0
country_France                      0
country_Germany                     0
country_Spain                       0
country_Bangladesh                  0
country_Italy                       0
country_Nigeria                     0
skill_creative_writing              0
skill_copywriting                   0
skill_proofreading                  0
skill_blog_writing                  0
skill_content_writing               0
skill_web_writing                   0
skill_social_media_marketing        0
skill_article                       0
skill_search_engine_optimization    0
skill_editing                       0
gender_male                         0
gender_female                       0
gender_undefined                    0
dtype: int64

In [31]:
data.describe()

,rating,nb_reviews,Price/hour in USD,nb_projects,nb_buyers,last_active,score,lang_english,lang_french,lang_spanish,...,skill_blog_writing,skill_content_writing,skill_web_writing,skill_social_media_marketing,skill_article,skill_search_engine_optimization,skill_editing,gender_male,gender_female,gender_undefined
count,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000,...,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000
mean,4.834398,43.217447,30.884676,46.545879,30.039446,0.640888,3.881086,0.792309,0.103634,0.092464,...,0.336067,0.438993,0.138555,0.144352,0.170932,0.171921,0.182525,0.353174,0.481832,0.164994
std,0.667073,185.349740,34.608079,274.213685,166.041998,0.479774,1.568235,0.405683,0.304806,0.289701,...,0.472395,0.496299,0.345506,0.351471,0.376476,0.377339,0.386304,0.477990,0.499705,0.371201
min,0.000000,0.000000,8.340000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.900000,3.000000,14.500000,3.000000,2.000000,0.000000,2.773000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.000000,8.000000,24.170000,8.000000,6.000000,1.000000,3.714000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,5.000000,27.000000,35.000000,26.000000,19.000000,1.000000,4.913000,1.000000,0.000000,0.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
max,5.000000,8647.000000,1354.740000,16306.000000,10343.000000,1.000000,10.634000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [32]:
X = data.drop(['Price/hour in USD'], axis=1)
X = sm.add_constant(X) # for the intercept
y = data['Price/hour in USD']

model = sm.OLS(y, X)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Price/hour in USD   R-squared:                       0.080
Model:                            OLS   Adj. R-squared:                  0.070
Method:                 Least Squares   F-statistic:                     8.560
Date:                Wed, 02 Jun 2021   Prob (F-statistic):           7.57e-62
Time:                        15:35:26   Log-Likelihood:                -26328.
No. Observations:                5304   AIC:                         5.276e+04
Df Residuals:                    5250   BIC:                         5.312e+04
Df Model:                          53
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
rating                               0.3629      0.788      0.461      0.645      -1.182       1.908
nb_reviews                          -0.0034      0.009     -0.378      0.705      -0.021       0.014
nb_projects                         -0.0293      0.014     -2.092      0.036      -0.057      -0.002
nb_buyers                            0.0499      0.020      2.481      0.013       0.010       0.089
last_active                          0.2000      1.060      0.189      0.850      -1.878       2.278
score                                1.8321      0.413      4.438      0.000       1.023       2.642
lang_english                         4.9832      1.336      3.731      0.000       2.365       7.602
lang_french                          1.0700      1.813      0.590      0.555      -2.485       4.625
lang_spanish                        -2.1866      1.885     -1.160      0.246      -5.881       1.508
lang_arabic                         -8.3887      2.645     -3.171      0.002     -13.575      -3.203
lang_german                          6.9798      2.301      3.033      0.002       2.469      11.491
lang_italian                        -3.6382      2.809     -1.295      0.195      -9.145       1.868
lang_hindi                           0.6253      2.923      0.214      0.831      -5.106       6.356
lang_urdu                           -0.7597      3.095     -0.245      0.806      -6.827       5.308
lang_russian                        -5.8324      3.094     -1.885      0.059     -11.898       0.233
lang_portuguese                     -2.6019      3.621     -0.719      0.472      -9.700       4.496
lang_swahili                        -2.3470      5.171     -0.454      0.650     -12.484       7.790
lang_bengali                        -2.9806      5.445     -0.547      0.584     -13.655       7.694
lang_greek                          -2.1675      4.301     -0.504      0.614     -10.600       6.265
lang_dutch                          14.5736      4.419      3.298      0.001       5.911      23.237
lang_chinese                        -2.1206      3.688     -0.575      0.565      -9.350       5.109
exper_education                      1.2366      1.419      0.872      0.384      -1.545       4.018
exper_advertising                    0.4319      1.579      0.274      0.784      -2.663       3.527
exper_marketing                     -0.4478      1.319     -0.340      0.734      -3.033       2.138
exper_media                         -1.6737      1.575     -1.063      0.288      -4.761       1.414
exper_it                            -2.2722      1.668     -1.362      0.173      -5.542       0.997
exper_internet                      -1.1812      1.728     -0.683      0.494      -4.569       2.207
exper_technology                     3.6670      1.707      2.148      0.032       0.321       7.013
exper_entertainment                 -2.2830      1.903     -1.200      0.230      -6.013       1.447
exper_travel                         0.6445      1.769      0.364      0.716      -2.823       4.112
exper_art                           -2.4980      2.103     -1.188      0.235      -6.620       1.624
country_UnitedKingdom               12.3814      1.238     10.002      0.000       9.954      14.808
country_India                       -7.6224      2.344     -3.252      0.001     -12.218      -3.027
country_Pakistan                    -9.5020      2.697     -3.523      0.000     -14.790      -4.214
country_Kenya                       -5.6012      3.524     -1.589      0.112     -12.510       1.308
country_France                       2.8051      3.667      0.765      0.444      -4.384       9.994
country_Germany                      5.2717      3.866      1.364      0.173      -2.308      12.851
country_Spain                        3.9238      3.619      1.084      0.278      -3.171      11.018
country_Bangladesh                 -10.6626      4.233     -2.519      0.012     -18.960      -2.365
country_Italy                       -1.5909      3.994     -0.398      0.690      -9.420       6.238
country_Nigeria                     -4.4428      3.893     -1.141      0.254     -12.074       3.188
skill_creative_writing              -5.3567      1.279     -4.187      0.000      -7.865      -2.849
skill_copywriting                    2.7075      1.201      2.255      0.024       0.353       5.062
skill_proofreading                  -6.0658      1.180     -5.140      0.000      -8.380      -3.752
skill_blog_writing                  -0.8390      1.244     -0.675      0.500      -3.277       1.599
skill_content_writing               -0.2102      1.162     -0.181      0.856      -2.489       2.069
skill_web_writing                    1.6574      1.563      1.061      0.289      -1.406       4.721
skill_social_media_marketing        -0.5729      1.488     -0.385      0.700      -3.489       2.343
skill_article                       -0.6008      1.436     -0.418      0.676      -3.417       2.215
skill_search_engine_optimization    -0.5803      1.423     -0.408      0.684      -3.371       2.210
skill_editing                        2.2164      1.424      1.557      0.120      -0.575       5.007
gender_male                         17.8641      3.937      4.538      0.000      10.147      25.581
gender_female                       15.8188      3.963      3.991      0.000       8.049      23.588
gender_undefined                    17.5996      3.954      4.451      0.000       9.848      25.351
==============================================================================
Omnibus:                    10467.090   Durbin-Watson:                   1.967
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         45329186.557
Skew:                          15.464   Prob(JB):                         0.00
Kurtosis:                     454.833   Cond. No.                     5.78e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.78e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

# Regression on panel data

In [33]:
pdata = pd.read_csv('./data/panel_data_04_05.csv')

## Format scraping dates

In [34]:
fdates = pd.to_datetime(pdata.scraping_date, dayfirst=True)
pdata = pdata.assign(scraping_date=fdates)

## Remove inactive profiles and drop unnecessary features

In [35]:
pdata = pdata.drop(pdata.loc[pdata['nb_projects']==0].index)
pdata = pdata.drop(['description', 'city'], axis=1)

## Spoken languages

In [36]:
languages = pdata.languages

In [37]:
n = len(pdata)
english, french, spanish, arabic, german, italian, hindi, urdu, russian, portuguese, swahili, bengali, greek, dutch, chinese = np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n),

for i, lang in enumerate(languages):
    lang=ast.literal_eval(lang)
    if 'English' in lang:
        english[i]=1
    if 'French' in lang:
        french[i]=1
    if 'Spanish' in lang:
        spanish[i]=1
    if 'Arabic' in lang:
        arabic[i]=1
    if 'German' in lang:
        german[i]=1
    if 'Italian' in lang:
        italian[i]=1
    if 'Hindi' in lang:
        hindi[i]=1
    if 'Urdu' in lang:
        urdu[i]=1
    if 'Russian' in lang:
        russian[i]=1
    if 'Portuguese' in lang:
        portuguese[i]=1
    if 'Swahili' in lang:
        swahili[i]=1
    if 'Bengali' in lang:
        bengali[i]=1
    if 'Greek' in lang:
        greek[i]=1
    if 'Dutch' in lang:
        dutch[i]=1
    if 'Chinese' in lang:
        chinese[i]=1

In [38]:
pdata = pdata.drop(['languages'], axis=1)

pdata['lang_english'] = english
pdata['lang_french'] = french
pdata['lang_spanish'] = spanish
pdata['lang_arabic'] = arabic
pdata['lang_german'] = german
pdata['lang_italian'] = italian
pdata['lang_hindi'] = hindi
pdata['lang_urdu'] = urdu
pdata['lang_russian'] = russian
pdata['lang_portuguese'] = portuguese
pdata['lang_swahili'] = swahili
pdata['lang_bengali'] = bengali
pdata['lang_greek'] = greek
pdata['lang_dutch'] = dutch
pdata['lang_chinese'] = chinese

## Industry expertise

In [39]:
industry_expertise = pdata.industry_expertise

In [40]:
n = len(pdata)
marketing, education, advertising, media, it, internet, technology, entertainment, travel, art = np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n)

for i, exper in enumerate(industry_expertise):
    exper=ast.literal_eval(exper)
    if 'Marketing' in exper:
        marketing[i]=1
    if 'Education' in exper:
        education[i]=1
    if 'Advertising' in exper:
        advertising[i]=1
    if 'Media' in exper:
        media[i]=1
    if 'IT' in exper:
        it[i]=1
    if 'Internet' in exper:
        internet[i]=1
    if 'Technology' in exper:
        technology[i]=1
    if 'Entertainment' in exper:
        entertainment[i]=1
    if 'Travel' in exper:
        travel[i]=1
    if 'Art' in exper:
        art[i]=1

In [41]:
pdata = pdata.drop(['industry_expertise'], axis=1)

pdata['exper_education'] = education
pdata['exper_advertising'] = advertising
pdata['exper_marketing'] = marketing
pdata['exper_media'] = media
pdata['exper_it'] = it
pdata['exper_internet'] = internet
pdata['exper_technology'] = technology
pdata['exper_entertainment'] = entertainment
pdata['exper_travel'] = travel
pdata['exper_art'] = art

## Last active binary variable

In [42]:
pdata['last_active'] = pd.to_datetime(pdata.last_active)
threshold = datetime.datetime.strptime('20-03-2021', '%d-%m-%Y') 
# Choose date to qualify if worker was recently active

pdata['last_active'] = threshold < pdata.last_active
pdata['last_active'] = pdata.last_active*1

## Country of work

In [43]:
countries = pdata['country']
counts = pd.value_counts(countries)
mask = countries.isin(counts.index)
countries_dummies = pd.get_dummies(countries[mask])

pdata = pdata.drop('country', axis=1)
pdata['country_UnitedKingdom'] = countries_dummies[' United Kingdom']
pdata['country_India'] = countries_dummies[' India']
pdata['country_Pakistan'] = countries_dummies[' Pakistan']
pdata['country_Kenya'] = countries_dummies[' Kenya']
pdata['country_France'] = countries_dummies[' France']
pdata['country_Germany'] = countries_dummies[' Germany']
pdata['country_Spain'] = countries_dummies[' Spain']
pdata['country_Bangladesh'] = countries_dummies[' Bangladesh']
pdata['country_Italy'] = countries_dummies[' Italy']
pdata['country_Nigeria'] = countries_dummies[' Nigeria']

## Skills

In [44]:
skills = pdata.skills

In [45]:
n = len(pdata)
creative_writing, copywriting, proofreading, blog_writing, content_writing, web_writing, social_media_marketing, article, search_engine_optimization, editing = np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n)

for i, sk in enumerate(skills):
    sk=ast.literal_eval(sk)
    if 'creative writing' in sk:
        creative_writing[i]=1
    if 'copywriting' in sk:
        copywriting[i]=1
    if 'proofreading' in sk:
        proofreading[i]=1
    if 'blog writing' in sk:
        blog_writing[i]=1
    if 'content writing' in sk:
        content_writing[i]=1
    if 'web writing' in sk:
        web_writing[i]=1
    if 'social media marketing' in sk:
        social_media_marketing[i]=1
    if 'article' in sk:
        article[i]=1
    if 'search engine optimization' in sk:
        search_engine_optimization[i]=1
    if 'editing' in sk:
        editing[i]=1

In [46]:
pdata = pdata.drop(['skills'],axis=1)

pdata['skill_creative_writing'] = creative_writing
pdata['skill_copywriting'] = copywriting
pdata['skill_proofreading'] = proofreading
pdata['skill_blog_writing'] = blog_writing
pdata['skill_content_writing'] = content_writing
pdata['skill_web_writing'] = web_writing
pdata['skill_social_media_marketing'] = social_media_marketing
pdata['skill_article'] = article
pdata['skill_search_engine_optimization'] = search_engine_optimization
pdata['skill_editing'] = editing

## Gender

In [47]:
genders = pdata['gender']
gen = pd.get_dummies(genders)

pdata = pdata.drop(['gender'], axis=1)
pdata['gender_male'] = gen['male']
pdata['gender_female'] = gen['female']
pdata['gender_undefined'] = gen['unknown']

## Create df for ols regression

In [48]:
p_ols = pdata.set_index(['name', 'scraping_date'])

In [49]:
X, y = p_ols.drop('Price/hour in USD', axis=1), p_ols['Price/hour in USD']

In [50]:
ols = PanelOLS(y, X, time_effects=True).fit(cov_type='clustered', cluster_time=True)

In [51]:
print(ols)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:      Price/hour in USD   R-squared:                        0.0866
Estimator:                   PanelOLS   R-squared (Between):              0.0882
No. Observations:               13926   R-squared (Within):              -0.6116
Date:                Wed, Jun 02 2021   R-squared (Overall):              0.0866
Time:                        15:35:29   Log-likelihood                -6.866e+04
Cov. Estimator:             Clustered
                                        F-statistic:                      24.809
Entities:                        6850   P-value                           0.0000
Avg Obs:                       2.0330   Distribution:                F(53,13871)
Min Obs:                       1.0000
Max Obs:                       30.000   F-statistic (robust):          3.847e+17
                                        P-value                           0.0000
Time periods:                       2   Distribution:                F(53,13871)
Avg Obs:                       6963.0
Min Obs:                       6948.0
Max Obs:                       6978.0

                                        Parameter Estimates
====================================================================================================
                                  Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
----------------------------------------------------------------------------------------------------
rating                               0.0342     0.0090     3.7986     0.0001      0.0165      0.0518
nb_reviews                           0.0005  3.475e-05     13.982     0.0000      0.0004      0.0006
nb_projects                         -0.0407  3.249e-05    -1254.1     0.0000     -0.0408     -0.0407
nb_buyers                            0.0651   1.05e-05     6196.7     0.0000      0.0651      0.0651
last_active                          0.3980     0.2758     1.4427     0.1491     -0.1427      0.9387
score                                1.8812     0.0240     78.477     0.0000      1.8342      1.9282
lang_english                         4.4199     0.0056     795.26     0.0000      4.4090      4.4308
lang_french                          1.2318     0.0190     64.679     0.0000      1.1944      1.2691
lang_spanish                        -1.2552     0.0775    -16.187     0.0000     -1.4073     -1.1032
lang_arabic                         -7.8397     0.0649    -120.81     0.0000     -7.9669     -7.7125
lang_german                          8.1865     0.1278     64.056     0.0000      7.9360      8.4370
lang_italian                        -0.4568     0.1608    -2.8410     0.0045     -0.7720     -0.1416
lang_hindi                           2.1928     0.1308     16.762     0.0000      1.9364      2.4492
lang_urdu                            1.0966     0.0005     2131.4     0.0000      1.0956      1.0976
lang_russian                        -5.6459     0.0668    -84.564     0.0000     -5.7768     -5.5150
lang_portuguese                     -4.5295     0.2424    -18.689     0.0000     -5.0046     -4.0544
lang_swahili                        -3.3112     0.5213    -6.3523     0.0000     -4.3329     -2.2894
lang_bengali                        -4.5027     0.3486    -12.917     0.0000     -5.1860     -3.8194
lang_greek                          -2.8492     0.0889    -32.058     0.0000     -3.0234     -2.6750
lang_dutch                           10.316     0.2514     41.028     0.0000      9.8228      10.808
lang_chinese                        -2.7807     0.2701    -10.294     0.0000     -3.3101     -2.2512
exper_education                      0.3883     0.0908     4.2746     0.0000      0.2103      0.5664
exper_advertising                    0.3627     0.0447     8.1162     0.0000      0.2751      0.4503
exper_marketing                     -0.5962     0.0239    -24.981     0.0000     -0.6429     -0.5494
exper_media                         -1.6850     0.0204    -82.565     0.0000     -1.7250     -1.6450
exper_it                            -2.4958     0.0174    -143.84     0.0000     -2.5298     -2.4618
exper_internet                      -2.0093     0.0397    -50.557     0.0000     -2.0872     -1.9314
exper_technology                     4.4435     0.0451     98.476     0.0000      4.3551      4.5320
exper_entertainment                 -2.8953     0.1564    -18.509     0.0000     -3.2019     -2.5886
exper_travel                         0.2175     0.1277     1.7033     0.0885     -0.0328      0.4678
exper_art                           -2.9935     0.1631    -18.354     0.0000     -3.3132     -2.6738
country_UnitedKingdom                11.932     0.0784     152.28     0.0000      11.778      12.085
country_India                       -8.4048     0.0514    -163.61     0.0000     -8.5055     -8.3041
country_Pakistan                    -10.302     0.0200    -515.53     0.0000     -10.341     -10.263
country_Kenya                       -4.9477     0.3373    -14.670     0.0000     -5.6088     -4.2866
country_France                       6.2390     0.1850     33.727     0.0000      5.8764      6.6016
country_Germany                      3.1097     0.7381     4.2131     0.0000      1.6629      4.5564
country_Spain                        2.0094     0.1803     11.147     0.0000      1.6561      2.3628
country_Bangladesh                  -8.5752     0.3556    -24.118     0.0000     -9.2721     -7.8783
country_Italy                       -2.7748     0.2984    -9.2983     0.0000     -3.3597     -2.1898
country_Nigeria                     -4.7911     0.3371    -14.212     0.0000     -5.4519     -4.1303
skill_creative_writing              -4.7626     0.0253    -188.16     0.0000     -4.8122     -4.7130
skill_copywriting                    3.6446     0.0415     87.905     0.0000      3.5633      3.7258
skill_proofreading                  -5.8108     0.0105    -553.70     0.0000     -5.8314     -5.7902
skill_blog_writing                  -0.8230     0.0043    -193.33     0.0000     -0.8314     -0.8147
skill_content_writing               -0.0596     0.0346    -1.7219     0.0851     -0.1275      0.0082
skill_web_writing                    1.6652     0.1263     13.182     0.0000      1.4175      1.9128
skill_social_media_marketing        -0.7811     0.0318    -24.568     0.0000     -0.8434     -0.7188
skill_article                       -1.4081     0.0097    -145.67     0.0000     -1.4271     -1.3892
skill_search_engine_optimization    -0.5735     0.0966    -5.9379     0.0000     -0.7628     -0.3842
skill_editing                        1.8949     0.0199     95.284     0.0000      1.8559      1.9339
gender_male                          19.553     0.1065     183.54     0.0000      19.344      19.762
gender_female                        17.876     0.0292     612.60     0.0000      17.819      17.934
gender_undefined                     18.188     0.1344     135.35     0.0000      17.924      18.451
====================================================================================================

F-test for Poolability: 0.3042
P-value: 0.5813
Distribution: F(1,13871)

Included effects: Time