In [97]:
import numpy as np
import pandas as pd
import ast
import matplotlib.pyplot as plt
import statsmodels.api as sm
import datetime
from collections import Counter
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm

In [98]:
scraping_date = '_26_04_2021'
data = pd.read_csv('./data/full_profiles'+scraping_date+'.csv')

In [99]:
data.head(3)

,name,languages,description,rating,nb_reviews,Price/hour in USD,skills,industry_expertise,nb_projects,nb_buyers,last_active,gender,city,country,score
0,Maria H.,['English'],We are a small UK based company speciaIising i...,4.9,4694,34.74,"['animation', 'graphics design', 'brand design...","['IT', 'Internet', 'Marketing', 'Media', 'Tech...",7672,4168,26-04-2021,female,Sheffield,United Kingdom,10.043
1,Cormac Reynolds,['English'],Looking for a link building solution or some g...,5.0,1190,138.95,"['online marketing', 'link building', 'marketi...",[],1085,533,25-04-2021,unknown,City of London,United Kingdom,8.691
2,Denise Toepel,"['English', 'Spanish', 'French']",I am a Translation Specialist. I work in publ...,0.0,0,27.79,"['english translation', 'french english', 'on...","['Education', 'Telecommunications']",0,0,25-04-2021,female,Cuenca,Ecuador,0.000

# Remove inactive profiles (no projects) and drop unnucessary features

In [100]:
print('Number of workers with inactive profiles:',  len(data.loc[(data['nb_projects'] == 0)]))

Number of workers with inactive profiles: 2930

In [101]:
data.drop(data.loc[data['nb_projects']==0].index, inplace=True)

Almost 30% of all the profiles are thus deleted of our regression analysis. This represents a big proportion of the profiles that we collected but there is still a significant amount of data that makes our study relevant.

In [102]:
del data['name'] 
del data['description'] 
del data['city']

# Spoken languages

In [103]:
available_languages = {}
languages = np.array(data.languages)
for profile_languages in languages:
    profile_languages = ast.literal_eval(profile_languages)
    if len(profile_languages)>0:
        for language in profile_languages:
            if language not in available_languages:
                available_languages[language] = 1
            else:
                available_languages[language] += 1

In [104]:
len(available_languages)

102

In [105]:
lang = np.array(list(available_languages.keys()))
count_lang = list(available_languages.values())
sorted_count_lang = np.argsort(count_lang)[-15:]
most_spoken_languages = lang[sorted_count_lang]

In [106]:
most_spoken_languages

array(['Swahili', 'Bengali', 'Greek', 'Dutch', 'Chinese', 'Portuguese',
       'Russian', 'Arabic', 'Urdu', 'Italian', 'Hindi', 'German',
       'Spanish', 'French', 'English'], dtype='<U13')

In [107]:
n = len(data)
english, french, spanish, arabic, german, italian, hindi, urdu, russian, portuguese, swahili, bengali, greek, dutch, chinese = np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n),

for i, lang in enumerate(languages):
    lang=ast.literal_eval(lang)
    if 'English' in lang:
        english[i]=1
    if 'French' in lang:
        french[i]=1
    if 'Spanish' in lang:
        spanish[i]=1
    if 'Arabic' in lang:
        arabic[i]=1
    if 'German' in lang:
        german[i]=1
    if 'Italian' in lang:
        italian[i]=1
    if 'Hindi' in lang:
        hindi[i]=1
    if 'Urdu' in lang:
        urdu[i]=1
    if 'Russian' in lang:
        russian[i]=1
    if 'Portuguese' in lang:
        portuguese[i]=1
    if 'Swahili' in lang:
        swahili[i]=1
    if 'Bengali' in lang:
        bengali[i]=1
    if 'Greek' in lang:
        greek[i]=1
    if 'Dutch' in lang:
        dutch[i]=1
    if 'Chinese' in lang:
        chinese[i]=1

In [108]:
del data['languages']

data['lang_english'] = english
data['lang_french'] = french
data['lang_spanish'] = spanish
data['lang_arabic'] = arabic
data['lang_german'] = german
data['lang_italian'] = italian
data['lang_hindi'] = hindi
data['lang_urdu'] = urdu
data['lang_russian'] = russian
data['lang_portuguese'] = portuguese
data['lang_swahili'] = swahili
data['lang_bengali'] = bengali
data['lang_greek'] = greek
data['lang_dutch'] = dutch
data['lang_chinese'] = chinese

# Industry expertises

In [109]:
available_expertise = {}
industry_expertise = np.array(data.industry_expertise)
for profile_expertise in industry_expertise:
    profile_expertise = ast.literal_eval(profile_expertise)
    if len(profile_expertise)>0:
        for expertise in profile_expertise:
            if expertise not in available_expertise:
                available_expertise[expertise] = 1
            else:
                available_expertise[expertise] += 1

In [110]:
len(available_expertise)

65

In [111]:
exper = np.array(list(available_expertise.keys()))
count_exper = list(available_expertise.values())
sorted_count_exper = np.argsort(count_exper)[-10:]
most_imp_exper = exper[sorted_count_exper]

In [112]:
most_imp_exper

array(['Publishing', 'Healthcare', 'Travel', 'Internet', 'Technology',
       'IT', 'Media', 'Advertising', 'Education', 'Marketing'],
      dtype='<U18')

In [113]:
n = len(data)
marketing, education, advertising, media, it, internet, technology, entertainment, travel, art = np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n)

for i, exper in enumerate(industry_expertise):
    exper=ast.literal_eval(exper)
    if 'Marketing' in exper:
        marketing[i]=1
    if 'Education' in exper:
        education[i]=1
    if 'Advertising' in exper:
        advertising[i]=1
    if 'Media' in exper:
        media[i]=1
    if 'IT' in exper:
        it[i]=1
    if 'Internet' in exper:
        internet[i]=1
    if 'Technology' in exper:
        technology[i]=1
    if 'Entertainment' in exper:
        entertainment[i]=1
    if 'Travel' in exper:
        travel[i]=1
    if 'Art' in exper:
        art[i]=1

In [114]:
del data['industry_expertise']

data['exper_education'] = education
data['exper_advertising'] = advertising
data['exper_marketing'] = marketing
data['exper_media'] = media
data['exper_it'] = it
data['exper_internet'] = internet
data['exper_technology'] = technology
data['exper_entertainment'] = entertainment
data['exper_travel'] = travel
data['exper_art'] = art

# Recently active workers

In [115]:
data.last_active = pd.to_datetime(data.last_active)
threshold = datetime.datetime.strptime('20-03-2021', '%d-%m-%Y') 
# Choose date to qualify if worker was recently active

data.last_active = threshold < data.last_active
data.last_active = data.last_active*1

# Countries of work

In [116]:
location = data['country']

country = [ l.split(',')[-1].replace(" ", "") for l in location ]
count = Counter(country).most_common(10)

print(count)

[('UnitedKingdom', 3178), ('India', 511), ('Pakistan', 397), ('Kenya', 185), ('France', 150), ('Germany', 136), ('Spain', 136), ('Bangladesh', 132), ('Italy', 126), ('Nigeria', 118)]

In [117]:
values = data['country']
counts = pd.value_counts(values)
mask = values.isin(counts.index)
coun = pd.get_dummies(values[mask])

del data['country']
data['country_UnitedKingdom'] = coun[' United Kingdom']
data['country_India'] = coun[' India']
data['country_Pakistan'] = coun[' Pakistan']
data['country_Kenya'] = coun[' Kenya']
data['country_France'] = coun[' France']
data['country_Germany'] = coun[' Germany']
data['country_Spain'] = coun[' Spain']
data['country_Bangladesh'] = coun[' Bangladesh']
data['country_Italy'] = coun[' Italy']
data['country_Nigeria'] = coun[' Nigeria']

# Skills

In [118]:
available_skill = {}
skills = np.array(data.skills)
for profile_skill in skills:
    profile_skill = ast.literal_eval(profile_skill)
    if len(profile_skill)>0:
        for skill in profile_skill:
            if skill not in available_skill:
                available_skill[skill] = 1
            else:
                available_skill[skill] += 1

In [119]:
len(available_skill)

2148

In [120]:
sk = np.array(list(available_skill.keys()))
count_sk = list(available_skill.values())
sorted_count_sk = np.argsort(count_sk)[-10:]
most_imp_sk = sk[sorted_count_sk]

In [121]:
most_imp_sk

array(['web writing', 'social media marketing', 'article',
       'search engine optimization', 'editing', 'creative writing',
       'copywriting', 'proofreading', 'blog writing', 'content writing'],
      dtype='<U51')

In [122]:
n = len(data)
creative_writing, copywriting, proofreading, blog_writing, content_writing, web_writing, social_media_marketing, article, search_engine_optimization, editing = np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n), np.zeros(n)

for i, sk in enumerate(skills):
    sk=ast.literal_eval(sk)
    if 'creative writing' in sk:
        creative_writing[i]=1
    if 'copywriting' in sk:
        copywriting[i]=1
    if 'proofreading' in sk:
        proofreading[i]=1
    if 'blog writing' in sk:
        blog_writing[i]=1
    if 'content writing' in sk:
        content_writing[i]=1
    if 'web writing' in sk:
        web_writing[i]=1
    if 'social media marketing' in sk:
        social_media_marketing[i]=1
    if 'article' in sk:
        article[i]=1
    if 'search engine optimization' in sk:
        search_engine_optimization[i]=1
    if 'editing' in sk:
        editing[i]=1

In [123]:
del data['skills']

data['skill_creative_writing'] = creative_writing
data['skill_copywriting'] = copywriting
data['skill_proofreading'] = proofreading
data['skill_blog_writing'] = blog_writing
data['skill_content_writing'] = content_writing
data['skill_web_writing'] = web_writing
data['skill_social_media_marketing'] = social_media_marketing
data['skill_article'] = article
data['skill_search_engine_optimization'] = search_engine_optimization
data['skill_editing'] = editing

# Gender

In [124]:
values = data['gender']
gen = pd.get_dummies(values)

del data['gender']
data['gender_male'] = gen['male']
data['gender_female'] = gen['female']
data['gender_undefined'] = gen['unknown']

# Final data

In [125]:
data.head(5)

,rating,nb_reviews,Price/hour in USD,nb_projects,nb_buyers,last_active,score,lang_english,lang_french,lang_spanish,...,skill_blog_writing,skill_content_writing,skill_web_writing,skill_social_media_marketing,skill_article,skill_search_engine_optimization,skill_editing,gender_male,gender_female,gender_undefined
0,4.9,4694,34.74,7672,4168,1,10.043,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,1,0
1,5.0,1190,138.95,1085,533,1,8.691,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,1
3,4.9,598,20.00,721,376,1,7.983,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1
4,4.9,135,27.79,140,100,1,6.496,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0,1
5,4.9,554,22.23,404,293,1,7.907,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0

In [126]:
print(data.isna().sum())

rating                              0
nb_reviews                          0
Price/hour in USD                   0
nb_projects                         0
nb_buyers                           0
last_active                         0
score                               0
lang_english                        0
lang_french                         0
lang_spanish                        0
lang_arabic                         0
lang_german                         0
lang_italian                        0
lang_hindi                          0
lang_urdu                           0
lang_russian                        0
lang_portuguese                     0
lang_swahili                        0
lang_bengali                        0
lang_greek                          0
lang_dutch                          0
lang_chinese                        0
exper_education                     0
exper_advertising                   0
exper_marketing                     0
exper_media                         0
exper_it                            0
exper_internet                      0
exper_technology                    0
exper_entertainment                 0
exper_travel                        0
exper_art                           0
country_UnitedKingdom               0
country_India                       0
country_Pakistan                    0
country_Kenya                       0
country_France                      0
country_Germany                     0
country_Spain                       0
country_Bangladesh                  0
country_Italy                       0
country_Nigeria                     0
skill_creative_writing              0
skill_copywriting                   0
skill_proofreading                  0
skill_blog_writing                  0
skill_content_writing               0
skill_web_writing                   0
skill_social_media_marketing        0
skill_article                       0
skill_search_engine_optimization    0
skill_editing                       0
gender_male                         0
gender_female                       0
gender_undefined                    0
dtype: int64

In [127]:
data.describe()

,rating,nb_reviews,Price/hour in USD,nb_projects,nb_buyers,last_active,score,lang_english,lang_french,lang_spanish,...,skill_blog_writing,skill_content_writing,skill_web_writing,skill_social_media_marketing,skill_article,skill_search_engine_optimization,skill_editing,gender_male,gender_female,gender_undefined
count,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000,...,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000,7073.000000
mean,4.834398,43.217447,30.884676,46.545879,30.039446,0.640888,3.881086,0.792309,0.103634,0.092464,...,0.336067,0.438993,0.138555,0.144352,0.170932,0.171921,0.182525,0.353174,0.481832,0.164994
std,0.667073,185.349740,34.608079,274.213685,166.041998,0.479774,1.568235,0.405683,0.304806,0.289701,...,0.472395,0.496299,0.345506,0.351471,0.376476,0.377339,0.386304,0.477990,0.499705,0.371201
min,0.000000,0.000000,8.340000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.900000,3.000000,14.500000,3.000000,2.000000,0.000000,2.773000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.000000,8.000000,24.170000,8.000000,6.000000,1.000000,3.714000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,5.000000,27.000000,35.000000,26.000000,19.000000,1.000000,4.913000,1.000000,0.000000,0.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
max,5.000000,8647.000000,1354.740000,16306.000000,10343.000000,1.000000,10.634000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [128]:
X = data.drop(['Price/hour in USD'], axis=1)
y = data['Price/hour in USD']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

model = sm.OLS(y_train.astype(float), X_train.astype(float))
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Price/hour in USD   R-squared:                       0.080
Model:                            OLS   Adj. R-squared:                  0.070
Method:                 Least Squares   F-statistic:                     8.560
Date:                Mon, 24 May 2021   Prob (F-statistic):           7.57e-62
Time:                        10:37:30   Log-Likelihood:                -26328.
No. Observations:                5304   AIC:                         5.276e+04
Df Residuals:                    5250   BIC:                         5.312e+04
Df Model:                          53
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
rating                               0.3629      0.788      0.461      0.645      -1.182       1.908
nb_reviews                          -0.0034      0.009     -0.378      0.705      -0.021       0.014
nb_projects                         -0.0293      0.014     -2.092      0.036      -0.057      -0.002
nb_buyers                            0.0499      0.020      2.481      0.013       0.010       0.089
last_active                          0.2000      1.060      0.189      0.850      -1.878       2.278
score                                1.8321      0.413      4.438      0.000       1.023       2.642
lang_english                         4.9832      1.336      3.731      0.000       2.365       7.602
lang_french                          1.0700      1.813      0.590      0.555      -2.485       4.625
lang_spanish                        -2.1866      1.885     -1.160      0.246      -5.881       1.508
lang_arabic                         -8.3887      2.645     -3.171      0.002     -13.575      -3.203
lang_german                          6.9798      2.301      3.033      0.002       2.469      11.491
lang_italian                        -3.6382      2.809     -1.295      0.195      -9.145       1.868
lang_hindi                           0.6253      2.923      0.214      0.831      -5.106       6.356
lang_urdu                           -0.7597      3.095     -0.245      0.806      -6.827       5.308
lang_russian                        -5.8324      3.094     -1.885      0.059     -11.898       0.233
lang_portuguese                     -2.6019      3.621     -0.719      0.472      -9.700       4.496
lang_swahili                        -2.3470      5.171     -0.454      0.650     -12.484       7.790
lang_bengali                        -2.9806      5.445     -0.547      0.584     -13.655       7.694
lang_greek                          -2.1675      4.301     -0.504      0.614     -10.600       6.265
lang_dutch                          14.5736      4.419      3.298      0.001       5.911      23.237
lang_chinese                        -2.1206      3.688     -0.575      0.565      -9.350       5.109
exper_education                      1.2366      1.419      0.872      0.384      -1.545       4.018
exper_advertising                    0.4319      1.579      0.274      0.784      -2.663       3.527
exper_marketing                     -0.4478      1.319     -0.340      0.734      -3.033       2.138
exper_media                         -1.6737      1.575     -1.063      0.288      -4.761       1.414
exper_it                            -2.2722      1.668     -1.362      0.173      -5.542       0.997
exper_internet                      -1.1812      1.728     -0.683      0.494      -4.569       2.207
exper_technology                     3.6670      1.707      2.148      0.032       0.321       7.013
exper_entertainment                 -2.2830      1.903     -1.200      0.230      -6.013       1.447
exper_travel                         0.6445      1.769      0.364      0.716      -2.823       4.112
exper_art                           -2.4980      2.103     -1.188      0.235      -6.620       1.624
country_UnitedKingdom               12.3814      1.238     10.002      0.000       9.954      14.808
country_India                       -7.6224      2.344     -3.252      0.001     -12.218      -3.027
country_Pakistan                    -9.5020      2.697     -3.523      0.000     -14.790      -4.214
country_Kenya                       -5.6012      3.524     -1.589      0.112     -12.510       1.308
country_France                       2.8051      3.667      0.765      0.444      -4.384       9.994
country_Germany                      5.2717      3.866      1.364      0.173      -2.308      12.851
country_Spain                        3.9238      3.619      1.084      0.278      -3.171      11.018
country_Bangladesh                 -10.6626      4.233     -2.519      0.012     -18.960      -2.365
country_Italy                       -1.5909      3.994     -0.398      0.690      -9.420       6.238
country_Nigeria                     -4.4428      3.893     -1.141      0.254     -12.074       3.188
skill_creative_writing              -5.3567      1.279     -4.187      0.000      -7.865      -2.849
skill_copywriting                    2.7075      1.201      2.255      0.024       0.353       5.062
skill_proofreading                  -6.0658      1.180     -5.140      0.000      -8.380      -3.752
skill_blog_writing                  -0.8390      1.244     -0.675      0.500      -3.277       1.599
skill_content_writing               -0.2102      1.162     -0.181      0.856      -2.489       2.069
skill_web_writing                    1.6574      1.563      1.061      0.289      -1.406       4.721
skill_social_media_marketing        -0.5729      1.488     -0.385      0.700      -3.489       2.343
skill_article                       -0.6008      1.436     -0.418      0.676      -3.417       2.215
skill_search_engine_optimization    -0.5803      1.423     -0.408      0.684      -3.371       2.210
skill_editing                        2.2164      1.424      1.557      0.120      -0.575       5.007
gender_male                         17.8641      3.937      4.538      0.000      10.147      25.581
gender_female                       15.8188      3.963      3.991      0.000       8.049      23.588
gender_undefined                    17.5996      3.954      4.451      0.000       9.848      25.351
==============================================================================
Omnibus:                    10467.090   Durbin-Watson:                   1.967
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         45329186.557
Skew:                          15.464   Prob(JB):                         0.00
Kurtosis:                     454.833   Cond. No.                     5.78e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.78e+03. This might indicate that there are
strong multicollinearity or other numerical problems.