In [1]:
import utils
import numpy as np
import pandas as pd

In [2]:
profile_urls = pd.read_csv('./profiles_url.csv')
profile_urls = np.array(profile_urls.url)

In [3]:
def scraping_profiles(urls: np.ndarray, verbose: int=1):
    columns = ['name', 'location', 'languages', 'description', 'rating', 'nb_reviews', 'price', 'skills', 'expertise', 'nb_projects', 'nb_buyers', 'last_active', 'gender']
    data = pd.DataFrame(columns=columns)
    for i, url in enumerate(urls):
        info = utils.profile_info(url)
        data = data.append(info, ignore_index=True)
        if verbose:
            if i%1000==0:
                print('{} profiles scraped'.format(i))
                print('**********************')
    print('End of scraping...')
    return data

In [4]:
data = scraping_profiles(profile_urls)

0 profiles scraped
**********************
1000 profiles scraped
**********************
2000 profiles scraped
**********************
3000 profiles scraped
**********************
4000 profiles scraped
**********************
5000 profiles scraped
**********************
6000 profiles scraped
**********************
7000 profiles scraped
**********************
8000 profiles scraped
**********************
9000 profiles scraped
**********************
10000 profiles scraped
**********************
End of scraping...

In [5]:
data.shape

(10003, 13)

In [6]:
data

,name,location,languages,description,rating,nb_reviews,price,skills,expertise,nb_projects,nb_buyers,last_active,gender
0,Maria H.,"Sheffield, United Kingdom",English speaking,We are a small UK based company speciaIising i...,4.9,4694,£25,"[animation, graphics design, brand design, log...","Industry expertise: IT, Internet, Marketing, M...",7672,4168,Apr 26 2021,female
1,Cormac Reynolds,"City of London, United Kingdom",English speaking,Looking for a link building solution or some g...,5.0,1190,£100,"[online marketing, link building, marketing wr...",,1085,533,Apr 25 2021,None
2,Denise Toepel,"Cuenca, Ecuador","English, Spanish and French speaking",I am a Translation Specialist. I work in publ...,0.0,0,£20,"[English translation, French <=> English, onli...",Industry expertise: Education and Telecommunic...,0,0,Apr 25 2021,None
3,Translate Guru .,"Cannanore, India",,Hello! Hola! Ciao! Bonjour! 你好!\r\n\r\nI do hi...,4.9,598,$20,"[German <=> English translation, Arabic <=> En...",,721,376,Apr 26 2021,None
4,Logical Translation & Localisation,"City of London, United Kingdom","English, Spanish, French and Italian speaking",OFFERING A WIDE RANGE OF TRANSLATION SERVICES\...,4.9,135,£20,"[editing, proofreading, German translation, En...","Industry expertise: Advertising, Aerospace, Au...",140,100,Apr 24 2021,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9998,Goggle Software Ltd,"Leeds, United Kingdom",English speaking,Goggle Software build CRMs and bespoke portals...,5.0,31,£50,"[ajax, database development, hosting developme...","Industry expertise: Electronics, IT and Techno...",26,22,Apr 15 2021,male
9999,Roshan Rupasinghe,"Colombo, Sri Lanka",English speaking,I am an IIBA certified business analyst with 3...,0.0,0,$12,"[business analysis, business writing, business...",Industry expertise: IT,0,0,Dec 02 2020,None
10000,Sally Lavinia,"Nairobi, Kenya",English and Swahili (macrolanguage) speaking,,0.0,0,$30,"[microsoft excel, proofreading, academic writi...","Industry expertise: Financial Services, Intern...",0,0,Dec 30 2020,None
10001,Mohammed Younes,"Zgharta, Lebanon",Arabic and English speaking,"With a couple of years of experience, I was ab...",0.0,0,$15,"[graphics design, social media management, slo...","Industry expertise: Advertising, Food, Media a...",0,0,Apr 25 2021,None
10002,Django Keur,"Amsterdam, Netherlands",English and Dutch speaking,"Dear Sir/Madam, my name is Django. I am 16 yea...",0.0,0,€7,"[Copywriting, creative writing, copy editing, ...",Industry expertise: Sales,0,0,Jan 10 2021,None

In [7]:
data.to_csv('./profiles_info.csv', index=False)

In [28]:
gender = data.gender
perc = (len(gender[gender=='male']) + len(gender[gender=='female']))/len(gender)*100
'Percentage of profiles where we have determined the gender {}%'.format(round(perc, 2))

'Percentage of profiles where we have determined the gender 43.75%'